<header>
  <div>
    <h1 class="title-global"><a href="/">Advent of Code</a></h1><nav>
      <ul>
        <li><a href="/2024/about">[About]</a></li><li>
          <a href="/2024/events">[Events]</a>
        </li><li>
          <a
            href="https://cottonbureau.com/people/advent-of-code"
            target="_blank">[Shop]</a>
        </li><li><a href="/2024/auth/login">[Log In]</a></li>
      </ul>
    </nav>
  </div><div>
    <h1 class="title-event">
      &nbsp;&nbsp;&nbsp;<span class="title-event-wrap">&lt;y&gt;</span><a
        href="/2024">2024</a
      ><span class="title-event-wrap">&lt;/y&gt;</span>
    </h1><nav>
      <ul>
        <li><a href="/2024">[Calendar]</a></li><li>
          <a href="/2024/support">[AoC++]</a>
        </li><li><a href="/2024/sponsors">[Sponsors]</a></li><li>
          <a href="/2024/leaderboard">[Leaderboard]</a>
        </li><li><a href="/2024/stats">[Stats]</a></li>
      </ul>
    </nav>
  </div>
</header>