<div id="sidebar">
  <div id="sponsor">
    <div class="quiet">
      Our <a href="/2024/sponsors">sponsors</a> help make Advent of Code possible:
    </div><div class="sponsor">
      <a
        href="/2024/sponsors/redirect?url=https%3A%2F%2Fengineeringat%2Eaxis%2Ecom%2F"
        target="_blank"
        onclick="if(ga)ga('send','event','sponsor','sidebar',this.href);"
        rel="noopener">Axis</a
      > - 404: Your application not found! &lt;embedded, cloud, Machine learning,
      fullstack&gt; Save our Christmas - apply now and join our team!
    </div>
  </div>
</div>
